# Dependencies
**/node_modules/

# Build outputs
**/dist/
**/lib/
**/build/

# Environment files
**/.env.local

# Logs
**/*.log
**/logs/

# IDE
.vscode/
.idea/
**/.DS_Store

# Archives
*.zip

# Docker
**/uploads/
