-- MySQL dump 10.13  Distrib 8.0.44, for Linux (x86_64)
--
-- Host: localhost    Database: nyaminet
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `ar`
--

DROP TABLE IF EXISTS `ar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ar` (
  `ar_id` int NOT NULL AUTO_INCREMENT,
  `ar_kategoria` varchar(50) COLLATE utf8mb4_hungarian_ci NOT NULL,
  PRIMARY KEY (`ar_id`),
  UNIQUE KEY `ar_kategoria` (`ar_kategoria`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_hungarian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ar`
--

LOCK TABLES `ar` WRITE;
/*!40000 ALTER TABLE `ar` DISABLE KEYS */;
INSERT INTO `ar` VALUES (3,'dr├íga'),(2,'k├Âzepes'),(1,'olcs├│');
/*!40000 ALTER TABLE `ar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `elmentett_receptek`
--

DROP TABLE IF EXISTS `elmentett_receptek`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `elmentett_receptek` (
  `felhasznalo_id` int NOT NULL,
  `poszt_id` int NOT NULL,
  PRIMARY KEY (`felhasznalo_id`,`poszt_id`),
  KEY `fk_elmentett_poszt` (`poszt_id`),
  CONSTRAINT `fk_elmentett_felhasznalo` FOREIGN KEY (`felhasznalo_id`) REFERENCES `felhasznalok` (`felhasznalo_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_elmentett_poszt` FOREIGN KEY (`poszt_id`) REFERENCES `poszt` (`poszt_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_hungarian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `elmentett_receptek`
--

LOCK TABLES `elmentett_receptek` WRITE;
/*!40000 ALTER TABLE `elmentett_receptek` DISABLE KEYS */;
INSERT INTO `elmentett_receptek` VALUES (3,1),(4,1),(1,2),(3,3);
/*!40000 ALTER TABLE `elmentett_receptek` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `felhasznalo_preferenciak`
--

DROP TABLE IF EXISTS `felhasznalo_preferenciak`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `felhasznalo_preferenciak` (
  `felhasznalo_id` int NOT NULL,
  `preferencia_id` int NOT NULL,
  PRIMARY KEY (`felhasznalo_id`,`preferencia_id`),
  KEY `fk_fp_preferencia` (`preferencia_id`),
  CONSTRAINT `fk_fp_felhasznalo` FOREIGN KEY (`felhasznalo_id`) REFERENCES `felhasznalok` (`felhasznalo_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_fp_preferencia` FOREIGN KEY (`preferencia_id`) REFERENCES `preferenciak` (`preferencia_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_hungarian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `felhasznalo_preferenciak`
--

LOCK TABLES `felhasznalo_preferenciak` WRITE;
/*!40000 ALTER TABLE `felhasznalo_preferenciak` DISABLE KEYS */;
INSERT INTO `felhasznalo_preferenciak` VALUES (1,1),(4,2),(3,3),(1,4);
/*!40000 ALTER TABLE `felhasznalo_preferenciak` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `felhasznalok`
--

DROP TABLE IF EXISTS `felhasznalok`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `felhasznalok` (
  `felhasznalo_id` int NOT NULL AUTO_INCREMENT,
  `felhasznalo_jelszo_hash` varchar(255) COLLATE utf8mb4_hungarian_ci NOT NULL,
  `felhasznalo_nev` varchar(100) COLLATE utf8mb4_hungarian_ci NOT NULL,
  `sotet_mod` int NOT NULL DEFAULT '0',
  `felhasznalo_email` varchar(255) COLLATE utf8mb4_hungarian_ci NOT NULL,
  `felhasznalo_letiltva` int NOT NULL DEFAULT '0',
  `role_id` int NOT NULL,
  `preferencia_id` int DEFAULT NULL,
  PRIMARY KEY (`felhasznalo_id`),
  UNIQUE KEY `felhasznalo_email` (`felhasznalo_email`),
  KEY `fk_felhasznalo_role` (`role_id`),
  KEY `fk_felhasznalo_preferencia` (`preferencia_id`),
  CONSTRAINT `fk_felhasznalo_preferencia` FOREIGN KEY (`preferencia_id`) REFERENCES `preferenciak` (`preferencia_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_felhasznalo_role` FOREIGN KEY (`role_id`) REFERENCES `role` (`role_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_hungarian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `felhasznalok`
--

LOCK TABLES `felhasznalok` WRITE;
/*!40000 ALTER TABLE `felhasznalok` DISABLE KEYS */;
INSERT INTO `felhasznalok` VALUES (1,'hash_anna','Kiss Anna',0,'anna@example.com',0,1,1),(2,'hash_bela','Nagy B├ęla',0,'bela@example.com',0,2,NULL),(3,'hash_csilla','Szab├│ Csilla',1,'csilla@example.com',0,1,3),(4,'hash_mate','T├│th M├ít├ę',0,'mate@example.com',0,1,2);
/*!40000 ALTER TABLE `felhasznalok` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fogas`
--

DROP TABLE IF EXISTS `fogas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fogas` (
  `fogas_id` int NOT NULL AUTO_INCREMENT,
  `fogas_nev` varchar(50) COLLATE utf8mb4_hungarian_ci NOT NULL,
  PRIMARY KEY (`fogas_id`),
  UNIQUE KEY `fogas_nev` (`fogas_nev`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_hungarian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fogas`
--

LOCK TABLES `fogas` WRITE;
/*!40000 ALTER TABLE `fogas` DISABLE KEYS */;
INSERT INTO `fogas` VALUES (3,'desszert'),(1,'el┼Ĺ├ętel'),(2,'f┼Ĺ├ętel'),(4,'leves');
/*!40000 ALTER TABLE `fogas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hozzavalok`
--

DROP TABLE IF EXISTS `hozzavalok`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hozzavalok` (
  `hozzavalo_id` int NOT NULL AUTO_INCREMENT,
  `hozzavalo_nev` varchar(100) COLLATE utf8mb4_hungarian_ci NOT NULL,
  PRIMARY KEY (`hozzavalo_id`),
  UNIQUE KEY `hozzavalo_nev` (`hozzavalo_nev`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_hungarian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hozzavalok`
--

LOCK TABLES `hozzavalok` WRITE;
/*!40000 ALTER TABLE `hozzavalok` DISABLE KEYS */;
INSERT INTO `hozzavalok` VALUES (1,'csirkemell'),(8,'cukor'),(2,'fokhagyma'),(7,'liszt'),(3,'ol├şvaolaj'),(4,'paradicsom'),(5,'t├ęszta'),(9,'toj├ís'),(6,'trappista sajt'),(10,'vaj');
/*!40000 ALTER TABLE `hozzavalok` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `indoklas`
--

DROP TABLE IF EXISTS `indoklas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `indoklas` (
  `indoklas_id` int NOT NULL AUTO_INCREMENT,
  `indoklas_szoveg` varchar(255) COLLATE utf8mb4_hungarian_ci NOT NULL,
  PRIMARY KEY (`indoklas_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_hungarian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `indoklas`
--

LOCK TABLES `indoklas` WRITE;
/*!40000 ALTER TABLE `indoklas` DISABLE KEYS */;
INSERT INTO `indoklas` VALUES (1,'S├ęrt┼Ĺ tartalom'),(2,'Spam / rekl├ím'),(3,'Nem megfelel┼Ĺ kateg├│ria');
/*!40000 ALTER TABLE `indoklas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `komment`
--

DROP TABLE IF EXISTS `komment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `komment` (
  `komment_id` int NOT NULL AUTO_INCREMENT,
  `komment_datum` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `komment_tartalom` text COLLATE utf8mb4_hungarian_ci NOT NULL,
  `felhasznalo_id` int NOT NULL,
  `poszt_id` int NOT NULL,
  PRIMARY KEY (`komment_id`),
  KEY `fk_komment_felhasznalo` (`felhasznalo_id`),
  KEY `fk_komment_poszt` (`poszt_id`),
  CONSTRAINT `fk_komment_felhasznalo` FOREIGN KEY (`felhasznalo_id`) REFERENCES `felhasznalok` (`felhasznalo_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_komment_poszt` FOREIGN KEY (`poszt_id`) REFERENCES `poszt` (`poszt_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_hungarian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `komment`
--

LOCK TABLES `komment` WRITE;
/*!40000 ALTER TABLE `komment` DISABLE KEYS */;
INSERT INTO `komment` VALUES (1,'2025-12-01 17:51:56','Nagyon finom lett, k├Âszi a receptet!',3,1),(2,'2025-12-01 17:51:56','Kicsit sz├íraz lett, legk├Âzelebb t├Âbb vajat teszek bele.',1,2),(3,'2025-12-01 17:51:56','Olcs├│ ├ęs gyors, pont amire sz├╝ks├ęgem volt.',2,3),(4,'2025-12-03 18:45:07','\"geciszar\"',1,2),(5,'2025-12-03 18:45:22','geciszar',1,2);
/*!40000 ALTER TABLE `komment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `konyha`
--

DROP TABLE IF EXISTS `konyha`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `konyha` (
  `konyha_id` int NOT NULL AUTO_INCREMENT,
  `konyha_nev` varchar(50) COLLATE utf8mb4_hungarian_ci NOT NULL,
  PRIMARY KEY (`konyha_id`),
  UNIQUE KEY `konyha_nev` (`konyha_nev`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_hungarian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `konyha`
--

LOCK TABLES `konyha` WRITE;
/*!40000 ALTER TABLE `konyha` DISABLE KEYS */;
INSERT INTO `konyha` VALUES (3,'├ízsiai'),(1,'magyar'),(2,'olasz');
/*!40000 ALTER TABLE `konyha` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lepesek`
--

DROP TABLE IF EXISTS `lepesek`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lepesek` (
  `lepesek_id` int NOT NULL AUTO_INCREMENT,
  `lepesek_szoveg` text COLLATE utf8mb4_hungarian_ci NOT NULL,
  PRIMARY KEY (`lepesek_id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_hungarian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lepesek`
--

LOCK TABLES `lepesek` WRITE;
/*!40000 ALTER TABLE `lepesek` DISABLE KEYS */;
/*!40000 ALTER TABLE `lepesek` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nehezseg`
--

DROP TABLE IF EXISTS `nehezseg`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nehezseg` (
  `nehezseg_id` int NOT NULL AUTO_INCREMENT,
  `nehezseg_kategoria` varchar(50) COLLATE utf8mb4_hungarian_ci NOT NULL,
  PRIMARY KEY (`nehezseg_id`),
  UNIQUE KEY `nehezseg_kategoria` (`nehezseg_kategoria`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_hungarian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nehezseg`
--

LOCK TABLES `nehezseg` WRITE;
/*!40000 ALTER TABLE `nehezseg` DISABLE KEYS */;
INSERT INTO `nehezseg` VALUES (1,'k├Ânny┼▒'),(2,'k├Âzepes'),(3,'neh├ęz');
/*!40000 ALTER TABLE `nehezseg` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `poszt`
--

DROP TABLE IF EXISTS `poszt`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `poszt` (
  `poszt_id` int NOT NULL AUTO_INCREMENT,
  `poszt_alcimek` varchar(255) COLLATE utf8mb4_hungarian_ci DEFAULT NULL,
  `poszt_adag` int DEFAULT NULL,
  `poszt_cim` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_hungarian_ci DEFAULT NULL,
  `poszt_datum` date NOT NULL DEFAULT (curdate()),
  `poszt_ido` int DEFAULT NULL,
  `poszt_leiras` text COLLATE utf8mb4_hungarian_ci,
  `poszt_kepurl` varchar(500) COLLATE utf8mb4_hungarian_ci DEFAULT NULL,
  `felhasznalo_id` int NOT NULL,
  `szezon_id` int DEFAULT NULL,
  `nehezseg_id` int DEFAULT NULL,
  `konyha_id` int DEFAULT NULL,
  `ar_id` int DEFAULT NULL,
  `fogas_id` int DEFAULT NULL,
  `lepesek_id` int DEFAULT NULL,
  `engedelyezve` int DEFAULT NULL,
  `like_db` int DEFAULT '0',
  `dislike_db` int DEFAULT '0',
  PRIMARY KEY (`poszt_id`),
  KEY `fk_poszt_felhasznalo` (`felhasznalo_id`),
  KEY `fk_poszt_szezon` (`szezon_id`),
  KEY `fk_poszt_nehezseg` (`nehezseg_id`),
  KEY `fk_poszt_konyha` (`konyha_id`),
  KEY `fk_poszt_ar` (`ar_id`),
  KEY `fk_poszt_fogas` (`fogas_id`),
  KEY `fk_poszt_lepesek` (`lepesek_id`),
  CONSTRAINT `fk_poszt_ar` FOREIGN KEY (`ar_id`) REFERENCES `ar` (`ar_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_poszt_felhasznalo` FOREIGN KEY (`felhasznalo_id`) REFERENCES `felhasznalok` (`felhasznalo_id`),
  CONSTRAINT `fk_poszt_fogas` FOREIGN KEY (`fogas_id`) REFERENCES `fogas` (`fogas_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_poszt_konyha` FOREIGN KEY (`konyha_id`) REFERENCES `konyha` (`konyha_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_poszt_lepesek` FOREIGN KEY (`lepesek_id`) REFERENCES `lepesek` (`lepesek_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_poszt_nehezseg` FOREIGN KEY (`nehezseg_id`) REFERENCES `nehezseg` (`nehezseg_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_poszt_szezon` FOREIGN KEY (`szezon_id`) REFERENCES `szezon` (`szezon_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_hungarian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `poszt`
--

LOCK TABLES `poszt` WRITE;
/*!40000 ALTER TABLE `poszt` DISABLE KEYS */;
/*!40000 ALTER TABLE `poszt` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `poszt_hozzavalok`
--

DROP TABLE IF EXISTS `poszt_hozzavalok`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `poszt_hozzavalok` (
  `hozzavalo_id` int NOT NULL,
  `poszt_id` int NOT NULL,
  PRIMARY KEY (`hozzavalo_id`,`poszt_id`),
  KEY `fk_ph_poszt` (`poszt_id`),
  CONSTRAINT `fk_ph_hozzavalo` FOREIGN KEY (`hozzavalo_id`) REFERENCES `hozzavalok` (`hozzavalo_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_ph_poszt` FOREIGN KEY (`poszt_id`) REFERENCES `poszt` (`poszt_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_hungarian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `poszt_hozzavalok`
--

LOCK TABLES `poszt_hozzavalok` WRITE;
/*!40000 ALTER TABLE `poszt_hozzavalok` DISABLE KEYS */;
INSERT INTO `poszt_hozzavalok` VALUES (1,1),(2,1),(3,1),(5,1),(6,1),(7,2),(8,2),(9,2),(10,2),(2,3),(3,3),(4,3),(5,3),(1,10),(2,10),(3,10),(1,11),(2,11),(3,11);
/*!40000 ALTER TABLE `poszt_hozzavalok` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `poszt_preferenciak`
--

DROP TABLE IF EXISTS `poszt_preferenciak`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `poszt_preferenciak` (
  `poszt_id` int NOT NULL,
  `preferencia_id` int NOT NULL,
  PRIMARY KEY (`poszt_id`,`preferencia_id`),
  KEY `preferencia_id` (`preferencia_id`),
  CONSTRAINT `poszt_preferenciak_ibfk_1` FOREIGN KEY (`poszt_id`) REFERENCES `poszt` (`poszt_id`) ON DELETE CASCADE,
  CONSTRAINT `poszt_preferenciak_ibfk_2` FOREIGN KEY (`preferencia_id`) REFERENCES `preferenciak` (`preferencia_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_hungarian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `poszt_preferenciak`
--

LOCK TABLES `poszt_preferenciak` WRITE;
/*!40000 ALTER TABLE `poszt_preferenciak` DISABLE KEYS */;
INSERT INTO `poszt_preferenciak` VALUES (2,1),(3,1),(10,1),(11,1),(3,2),(3,3),(10,3),(11,3);
/*!40000 ALTER TABLE `poszt_preferenciak` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `poszt_szavazas`
--

DROP TABLE IF EXISTS `poszt_szavazas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `poszt_szavazas` (
  `felhasznalo_id` int NOT NULL,
  `poszt_id` int NOT NULL,
  `szavazat` int NOT NULL,
  PRIMARY KEY (`felhasznalo_id`,`poszt_id`),
  KEY `poszt_id` (`poszt_id`),
  CONSTRAINT `poszt_szavazas_ibfk_1` FOREIGN KEY (`felhasznalo_id`) REFERENCES `felhasznalok` (`felhasznalo_id`) ON DELETE CASCADE,
  CONSTRAINT `poszt_szavazas_ibfk_2` FOREIGN KEY (`poszt_id`) REFERENCES `poszt` (`poszt_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_hungarian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `poszt_szavazas`
--

LOCK TABLES `poszt_szavazas` WRITE;
/*!40000 ALTER TABLE `poszt_szavazas` DISABLE KEYS */;
INSERT INTO `poszt_szavazas` VALUES (1,1,1),(1,2,-1),(1,3,-1),(2,1,-1),(2,2,-1),(2,3,-1),(3,1,1),(3,2,1),(3,3,-1),(4,1,1),(4,3,1);
/*!40000 ALTER TABLE `poszt_szavazas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `preferenciak`
--

DROP TABLE IF EXISTS `preferenciak`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `preferenciak` (
  `preferencia_id` int NOT NULL AUTO_INCREMENT,
  `preferencia_nev` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_hungarian_ci DEFAULT NULL,
  PRIMARY KEY (`preferencia_id`),
  UNIQUE KEY `preferencia_nev` (`preferencia_nev`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_hungarian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `preferenciak`
--

LOCK TABLES `preferenciak` WRITE;
/*!40000 ALTER TABLE `preferenciak` DISABLE KEYS */;
INSERT INTO `preferenciak` VALUES (4,'glut├ęnmentes'),(3,'lakt├│zmentes'),(2,'veg├ín'),(1,'veget├íri├ínus');
/*!40000 ALTER TABLE `preferenciak` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `report`
--

DROP TABLE IF EXISTS `report`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `report` (
  `report_id` int NOT NULL AUTO_INCREMENT,
  `felhasznalo_id` int NOT NULL,
  `report_szoveg` text COLLATE utf8mb4_hungarian_ci,
  `komment_tartalom` text COLLATE utf8mb4_hungarian_ci,
  `indoklas_id` int DEFAULT NULL,
  `poszt_id` int DEFAULT NULL,
  PRIMARY KEY (`report_id`),
  KEY `fk_report_felhasznalo` (`felhasznalo_id`),
  KEY `fk_report_indoklas` (`indoklas_id`),
  KEY `fk_report_poszt` (`poszt_id`),
  CONSTRAINT `fk_report_felhasznalo` FOREIGN KEY (`felhasznalo_id`) REFERENCES `felhasznalok` (`felhasznalo_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_report_indoklas` FOREIGN KEY (`indoklas_id`) REFERENCES `indoklas` (`indoklas_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_report_poszt` FOREIGN KEY (`poszt_id`) REFERENCES `poszt` (`poszt_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_hungarian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `report`
--

LOCK TABLES `report` WRITE;
/*!40000 ALTER TABLE `report` DISABLE KEYS */;
INSERT INTO `report` VALUES (1,3,'A le├şr├ísban tr├íg├ír kifejez├ęsek vannak.','Ez a recept st├şlusban nem illik az oldalra.',1,3),(2,4,'Duplik├ílt recept, m├ír van nagyon hasonl├│.','Szerintem ez feleslegesen ism├ętli egy m├ísik poszt tartalm├ít.',3,3),(3,1,'A brownie receptben hi├ínyzik p├ír fontos r├ęszlet.','Nem der├╝l ki pontosan a s├╝t├ęsi h┼Ĺfok.',3,2);
/*!40000 ALTER TABLE `report` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role`
--

DROP TABLE IF EXISTS `role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role` (
  `role_id` int NOT NULL AUTO_INCREMENT,
  `role_nev` varchar(50) COLLATE utf8mb4_hungarian_ci NOT NULL,
  PRIMARY KEY (`role_id`),
  UNIQUE KEY `role_nev` (`role_nev`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_hungarian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role`
--

LOCK TABLES `role` WRITE;
/*!40000 ALTER TABLE `role` DISABLE KEYS */;
INSERT INTO `role` VALUES (2,'admin'),(1,'user');
/*!40000 ALTER TABLE `role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `szezon`
--

DROP TABLE IF EXISTS `szezon`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `szezon` (
  `szezon_id` int NOT NULL AUTO_INCREMENT,
  `szezon_nev` varchar(50) COLLATE utf8mb4_hungarian_ci NOT NULL,
  PRIMARY KEY (`szezon_id`),
  UNIQUE KEY `szezon_nev` (`szezon_nev`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_hungarian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `szezon`
--

LOCK TABLES `szezon` WRITE;
/*!40000 ALTER TABLE `szezon` DISABLE KEYS */;
INSERT INTO `szezon` VALUES (5,'b├írmikor'),(2,'ny├ír'),(3,'┼Ĺsz'),(1,'tavasz'),(4,'t├ęl');
/*!40000 ALTER TABLE `szezon` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-08 18:20:44
