.navbar {
    background-color: #7D0A0A;
    text-wrap: wrap;
    display: flex;
    height: 50px;
    margin: 0;
}

.feher {
    color: #EEEEEE;
}

.btn {
    color: #EEEEEE;
    border: none;
    background-color: transparent;
    font-size: auto;
    margin-left: 10px;
    height: 50px;
    margin-top: 0;
    padding-top: 0;
    white-space: nowrap;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
}

.btn:hover {
    color: #BF3131;
    background-color: #EEEEEE;
}

.btn-large {
    font-size: larger;
    margin-right: 20px;
}

.selected {
    background-color: #BF3131;
}

.search {
    height: 40px;
    margin-top: 5px;
    font-size: medium;
    border-radius: 30px;
    width: 300px;
}

.nyami {
    font-size: xx-large;
    margin-top: auto;
    margin-bottom: auto;
}

/* Dark Mode */
.dark-mode .navbar {
    background-color: #352F44;
}

.dark-mode .feher {
    color: #FAF0E6;
}

.dark-mode .btn {
    color: #FAF0E6;
}

.dark-mode .btn:hover {
    color: #5C5470;
    background-color: #FAF0E6;
}

.dark-mode .selected {
    background-color: #5C5470;
}

.dark-mode .search {
    background-color: #352F44;
    color: #FAF0E6;
    border: 1px solid #5C5470;
}

.dark-mode .search::placeholder {
    color: #B9B4C7;
}
