.profilebox {
    margin-left: 30px;
    margin-top: 80px;
    margin-right: 30px;
}

.profileInput {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    border: none;
}

.profileTitle {
    width: 50%;
}

.dark {
    background-color: #5C5470;
}

.preferenceRow {
    height: 100px;
}

/* Dark Mode */
.dark-mode .profilebox {
    color: #FAF0E6;
}

.dark-mode .profileTitle {
    color: #FAF0E6;
}

.dark-mode .dark {
    background-color: #352F44;
}

/* ===== Mobile Responsive ===== */
@media (max-width: 768px) {
    .profilebox {
        margin: 20px 10px;
    }

    .profileTitle {
        width: 100%;
    }

    .profileInput {
        width: 100%;
        box-sizing: border-box;
    }
}
