.loginpage {
    margin-top: 30px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    color: #BF3131;
    font-size: xx-large;
}

.subtitle {
    margin-bottom: 5px;
}

.inputfield {
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: none;
}

.button {
    width: 100%;
    height: 50px;
    font-size: larger;
    background-color: #BF3131;
    color: #EEEEEE;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
}

.button:hover {
    background-color: #EEEEEE;
    color: #BF3131;
    border: 1px solid #BF3131;
}

.link {
    color: #BF3131;
    margin-top: 30px;
    margin-bottom: 0;
}

/* Dark Mode */
.dark-mode .title {
    color: #FAF0E6;
}

.dark-mode .link {
    color: #B9B4C7;
}

.dark-mode .inputfield {
    background-color: #352F44;
    color: #FAF0E6;
    border: 1px solid #5C5470;
}

.dark-mode .button {
    background-color: #352F44;
    color: #FAF0E6;
}

.dark-mode .button:hover {
    background-color: #FAF0E6;
    color: #352F44;
    border: 1px solid #352F44;
}

/* ===== Mobile Responsive ===== */
@media (max-width: 768px) {
    .loginpage {
        margin: 20px 10px;
        width: calc(100% - 20px);
        box-sizing: border-box;
    }

    .inputfield {
        width: 100%;
        box-sizing: border-box;
    }

    .box {
        padding: 20px 15px;
    }

    .title h1 {
        font-size: 28px;
    }
}
